* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

header{
    background-color: #2c3e50;
    color: White;

}

main{
    display: block;
}

footer{
    background-color: #2c3e50;
    color: White;
}
    
.nav{
    justify-content:space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav li{
    margin: 5px;
    padding: 5px;
}

.nav a{
    text-decoration: none;
    color: White;
}

.nav a:hover{
    color:crimson;
}

.banner{
    height:50vh;
    width: 100%;
    overflow: hidden;
}

.banner video{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.title{
    text-align: center;
    padding: 20px;
}

.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}


article{
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article img{
    width: 100%;    
}

article:hover {
  transform: translateY(-8px); 
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

article .producto-detalle{
    padding: 10px;
}

article .descripcion{
    color: darkslategray;
    font-size: 12px;
    padding: 5px;
}

article .enlace{
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

article .enlace:hover{
    color:crimson;
}

.reviews{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 20px;
    padding: 20px;
}


.card{
    
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card:hover {
  transform: translateY(-8px); 
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.img-user{
    border-radius: 100%;
    border: #333 solid 1px;
}

.names{
    color:midnightblue;
    font-size: 15px;
}

.rating i{
    color: gold;
}

.review{
    color: darkslategray;
    font-size: 12px;
}

.contact{
    display: flex;
    justify-content: center;
}

form {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
    width: 50%;
}

.field{
    border:  #9c9898 solid 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 25px;
    margin: 10px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}


.full{
    grid-column: span 2
}

.buttons
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons button{
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 12px;
    font-family: 'Poppins', system-ui, sans-serif;
    background-color: #4f46e5; /* Un azul índigo moderno */
    color: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(79, 70, 229, 0.2);
    transition: all 0.3s ease;

}

.buttons button:hover{
    background-color: #4338ca;
    transform: translateY(-2px); 
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}


    
/* Tablets*/
@media (max-width: 599px) {
    .reviews {
        grid-template-columns: 1fr;
    }
    form {
        grid-template-columns: 1fr;
        width: 90%;
    }
    .full {
        grid-column: span 1;
    }
}

/* Tablets*/
@media (min-width: 600px) {
    .reviews {
        grid-template-columns: 1fr 1fr;
    }
    form {
        grid-template-columns: 1fr;
        width: 70%;
    }
    .full {
        grid-column: span 1;
    }
}

/* Laptops y monitores medianos */
@media (min-width: 992px) {
    .reviews {
        grid-template-columns: 1fr 1fr 1fr;
    }
    form {
        grid-template-columns: 1fr 1fr;
        width: 50%;
    }
    .full {
        grid-column: span 2;
    }
}

@media (min-width: 1200px) {
    .reviews {
        grid-template-columns: repeat(4, 1fr);
    }
}